{% extends 'system/includes/base.twig' %}

{% block main %}

    <div class="content-wrapper">
        <!-- Main content -->
        <section class="content">

            {% if msg is defined %}
                <div class="alert alert-success alert-dismissible">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                    <i class="icon fa fa-check"></i>{{ msg }}
                </div>
            {% endif %}

            <br>

            <div class="input-group input-group-sm">
                <input id="term" type="text" class="form-control" placeholder="Digite o nome do medicamento">
                <span class="input-group-btn">
                    <button id="pesquisar-medicamento" type="button" class="btn btn-info btn-flat">Pesquisar</button>
                    <a href="{{ path('cadastrar-medicamentos') }}"><button type="button" style="padding: 4px 10px;margin-left: 10px;" class="btn btn-flat btn-success">Cadastrar Medicamento</button></a>
                </span>
            </div>

            <br>

            <div class="row">
                <div class="col-xs-12">
                    <div class="box">
                        <div class="box-header">
                            <h3 class="box-title">Medicamentos</h3>
                        </div>
                        <div class="row loading" style="width: 98%; margin-left: 10px;">
                            <h3>Carregando...</h3>
                            <div class="progress progress-striped active page-progress-bar">
                                <div class="progress-bar" style="width: 100%;"></div>
                            </div>
                        </div>
                        <!-- /.box-header -->
                        <div id="content-table" class="box-body table-responsive no-padding">
                            <table class="table table-hover">
                                <tbody>
                                    <tr>
                                        <th>Nome</th>
                                        <th>Apresentação</th>
                                        <th>Princípio Ativo</th>
                                        <th></th>
                                    </tr>

                                    {% for meds in medicamentos %}
                                    <tr>
                                        <td>{{ meds.nome }}</td>
                                        <td>{{ meds.apresentacao }}</td>
                                        <td>{{ meds.principioAtivoCod.principioAtivoNome }}</td>
                                        <td style="text-align: right;">
                                            <a href="{{ path('editar-medicamento', {'id' : meds.cod}) }}"><button type="button" style="padding: 1px 2px;" class="btn btn-warning btn-flat">Editar</button></a>
                                            <!--<a href="{{ path('deletar-medicamento', {'id' : meds.cod}) }}"><button type="button" style="padding: 1px 2px;" class="btn btn-danger btn-flat">Excluir</button></a>-->
                                        </td>
                                    </tr>
                                    {% endfor %}

                                </tbody>
                            </table>
                        </div>
                        <!-- /.box-body -->
                    </div>
                    <!-- /.box -->
                </div>
            </div>

        </section>
        <!-- /.content -->
    </div>
{% endblock %}