<body class="hold-transition skin-blue sidebar-mini">
<!-- Site wrapper -->
<div class="wrapper">

    <header class="main-header">
        <!-- Logo -->
        <a href="{{ path('home') }}" class="logo">
            <!-- mini logo for sidebar mini 50x50 pixels -->
            <span class="logo-mini"><b>AX</b>1.0</span>
            <!-- logo for regular state and mobile devices -->
            <span class="logo-lg"><b>Auxílio </b>1.0</span>
        </a>
        <!-- Header Navbar: style can be found in header.less -->
        <nav class="navbar navbar-static-top">
            <!-- Sidebar toggle button-->
            <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
                <span class="sr-only">Recolher Menu</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>

            <div class="navbar-custom-menu">
                <ul class="nav navbar-nav">
                    <!-- Notifications: style can be found in dropdown.less -->
                    {#<li class="dropdown notifications-menu">#}
                        {#<a href="#" class="dropdown-toggle" data-toggle="dropdown">#}
                            {#<i class="fa fa-bell-o"></i>#}
                            {#<span class="label label-warning">1</span>#}
                        {#</a>#}
                        {#<ul class="dropdown-menu">#}
                            {#<li class="header">Você tem <b>1</b> notificação(ões)</li>#}
                            {#<li>#}
                                {#<!-- inner menu: contains the actual data -->#}
                                {#<ul class="menu">#}
                                    {#<li>#}
                                        {#<a href="#">#}
                                            {#<i class="fa fa-warning text-yellow"></i>Dipirona próximo da validade#}
                                        {#</a>#}
                                    {#</li>#}
                                {#</ul>#}
                            {#</li>#}
                        {#</ul>#}
                    {#</li>#}
                    {#<!-- Tasks: style can be found in dropdown.less -->#}
                    {#<li class="dropdown tasks-menu">#}
                        {#<a href="#" class="dropdown-toggle" data-toggle="dropdown">#}
                            {#<i class="fa fa-flag-o"></i>#}
                            {#<span class="label label-danger">1</span>#}
                        {#</a>#}
                        {#<ul class="dropdown-menu">#}
                            {#<li class="header">Medicamentos com baixa em estoque</li>#}
                            {#<li>#}
                                {#<!-- inner menu: contains the actual data -->#}
                                {#<ul class="menu">#}
                                    {#<li><!-- Task item -->#}
                                        {#<a href="#">#}
                                            {#<h3>#}
                                                {#Dipirona#}
                                                {#<small class="pull-right">20%</small>#}
                                            {#</h3>#}
                                            {#<div class="progress xs">#}
                                                {#<div class="progress-bar progress-bar-aqua" style="width: 20%" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">#}
                                                    {#<span class="sr-only">20%</span>#}
                                                {#</div>#}
                                            {#</div>#}
                                        {#</a>#}
                                    {#</li>#}
                                    {#<!-- end task item -->#}
                                {#</ul>#}
                            {#</li>#}
                        {#</ul>#}
                    {#</li>#}
                    <!-- User Account: style can be found in dropdown.less -->
                    <li class="dropdown user user-menu">

                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <span class="hidden-xs">{% if app.session.get('name') is defined %}{{ app.session.get('name') }}{% endif %}</span>
                        </a>
                        <ul class="dropdown-menu">
                            <!-- User image -->
                            <li class="user-header">
                                <p>{% if app.session.get('name') is defined %}{{ app.session.get('name') }}{% endif %}</p>
                            </li>

                            <!-- Menu Footer-->
                            <li class="user-footer">
                                <div class="pull-right">
                                    <a href="{{ path('logout-asd') }}" class="btn btn-default btn-flat">Sair</a>
                                </div>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </nav>
    </header>