<!-- jQuery 2.2.3 -->
<script src="{{ asset('plugins/jQuery/jquery-2.2.3.min.js') }}"></script>
<!-- Bootstrap 3.3.6 -->
<script src="{{ asset('bootstrap/js/bootstrap.min.js') }}"></script>
<!-- SlimScroll -->
<script src="{{ asset('plugins/slimScroll/jquery.slimscroll.min.js') }}"></script>
<!-- FastClick -->
<script src="{{ asset('plugins/fastclick/fastclick.js') }}"></script>
<!-- AdminLTE App -->
<script src="{{ asset('dist/js/app.min.js') }}"></script>
<!-- AdminLTE for demo purposes -->
<script src="{{ asset('dist/js/demo.js') }}"></script>

<script type="application/javascript">

    $(document).ready(function () {

        $('.loading').hide();

        //AJAX para busca de pacientes
        $('#pesquisar').click(function () {

            $.ajax({
                url: 'buscar-paciente',
                type: 'POST',
                data: {
                    term: $('#term').val()
                },
                dataType: 'json',
                beforeSend: function () {
                    $('#content-table').hide();
                    $('.loading').show();
                },
                complete: function () {
                    $('.loading').hide();
                    $('#content-table').show();
                },
                success: function (data) {
                    $('#content-table').html(data);
                },
                error: function () {
                    alert("Digite o nome ou a matrícula do paciente.");
                }
            });

        });

        //AJAX para busca de princípio ativo
        $('#pesquisar-pa').click(function () {

            $.ajax({
                url: 'buscar-principio-ativo',
                type: 'POST',
                data: {
                    term: $('#term').val()
                },
                dataType: 'json',
                beforeSend: function () {
                    $('#content-table').hide();
                    $('.loading').show();
                },
                complete: function () {
                    $('.loading').hide();
                    $('#content-table').show();
                },
                success: function (data) {
                    $('#content-table').html(data);
                },
                error: function () {
                    alert("Digite o nome ou a matrícula do paciente.");
                }
            });

        });

        //AJAX para busca de medicamentos
        $('#pesquisar-medicamento').click(function () {

            $.ajax({
                url: 'buscar-medicamento',
                type: 'POST',
                data: {
                    term: $('#term').val()
                },
                dataType: 'json',
                beforeSend: function () {
                    $('#content-table').hide();
                    $('.loading').show();
                },
                complete: function () {
                    $('.loading').hide();
                    $('#content-table').show();
                },
                success: function (data) {
                    $('#content-table').html(data);
                },
                error: function () {
                    alert("Digite o nome ou a matrícula do paciente.");
                }
            });

        });

        //AJAX para busca de estoque
        $('#pesquisar-estoque').click(function () {

            $.ajax({
                url: 'buscar-estoque',
                type: 'POST',
                data: {
                    term: $('#term').val(),
                    tipo_busca: $('#tipo_busca').val()
                },
                dataType: 'json',
                beforeSend: function () {
                    $('#content-table').hide();
                    $('.loading').show();
                },
                complete: function () {
                    $('.loading').hide();
                    $('#content-table').show();
                },
                success: function (data) {
                    $('#content-table').html(data);
                },
                error: function () {
                    alert("Digite o nome ou a matrícula do paciente.");
                }
            });

        });

        //AJAX para busca de estoque
        $('#pesquisar-estoque-solicitacao').click(function () {

            $.ajax({
                url: 'buscar-estoque-solicitacao',
                type: 'POST',
                data: {
                    term: $('#term').val(),
                    tipo_busca: $('#tipo_busca').val()
                },
                dataType: 'json',
                beforeSend: function () {
                    $('#content-table').hide();
                    $('.loading').show();
                },
                complete: function () {
                    $('.loading').hide();
                    $('#content-table').show();
                },
                success: function (data) {
                    $('#content-table').html(data);
                },
                error: function () {
                    alert("Digite o nome ou a matrícula do paciente.");
                }
            });

        });

        //AJAX para busca de estoque
        $('#pesquisar-retirada').click(function () {

            $.ajax({
                url: 'buscar-retirada',
                type: 'POST',
                data: {
                    term: $('#term').val(),
                    tipo_busca: $('#tipo_busca').val()
                },
                dataType: 'json',
                beforeSend: function () {
                    $('#content-table').hide();
                    $('.loading').show();
                },
                complete: function () {
                    $('.loading').hide();
                    $('#content-table').show();
                },
                success: function (data) {
                    $('#content-table').html(data);
                },
                error: function () {
                    alert("Digite o nome ou a matrícula do paciente.");
                }
            });

        });

        //AJAX para busca de estoque
        $('#pesquisar-relatorio').click(function () {

            $.ajax({
                url: 'buscar-relatorio',
                type: 'POST',
                data: {
                    term: $('#term').val(),
                    tipo_busca: $('#tipo_busca').val()
                },
                dataType: 'json',
                beforeSend: function () {
                    $('#content-table').hide();
                    $('.loading').show();
                },
                complete: function () {
                    $('.loading').hide();
                    $('#content-table').show();
                },
                success: function (data) {
                    $('#content-table').html(data);
                },
                error: function () {
                    alert("Digite o nome ou a matrícula do paciente.");
                }
            });

        });

    });

</script>

</body>
</html>