<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
        <!-- Sidebar user panel -->
        <div class="user-panel">
            <div class="pull-left image">
                <img src="../../dist/img/user.png" class="img-circle" alt="User Image">
            </div>
            <div class="pull-left info">
                <p>{% if app.user.username is defined %}{{ app.user.username }}{% endif %}</p>
                <i class="fa fa-circle text-success" style="font-size: 10px;"></i> <span style="font-size: 10px;">Logado</span>
            </div>
        </div>

        <!-- sidebar menu: : style can be found in sidebar.less -->
        <ul class="sidebar-menu">
            <li class="header">MENU PRINCIPAL</li>
            <li class="treeview">
                <a href="{{ path('home') }}">
                    <i class="fa fa-home"></i>
                    <span>Página Inicial</span>
                </a>
            </li>

            <li class="treeview">
                <a href="#">
                    <i class="fa fa-medkit"></i>
                    <span>Medicamentos</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="{{ path('gerenciar-principio-ativo') }}"><i class="fa fa-circle-o"></i> Gerenciar Princípio Ativo</a></li>
                    <li><a href="{{ path('gerenciar-medicamentos') }}"><i class="fa fa-circle-o"></i> Gerenciar Medicamento</a></li>
                </ul>
            </li>

            <li class="treeview">
                <a href="#">
                    <i class="fa fa-users"></i>
                    <span>Pacientes</span>
                    <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="{{ path('gerenciar-pacientes') }}"><i class="fa fa-circle-o"></i> Gerenciar Paciente</a></li>
                </ul>
            </li>

            <li class="treeview">
                <a href="#">
                    <i class="fa fa-ambulance"></i> <span>Estoque</span>
                    <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="{{ path('entrada-medicamentos') }}"><i class="fa fa-circle-o"></i> Entrada de Medicamentos</a></li>
                </ul>
            </li>

            <li class="treeview">
                <a href="#">
                    <i class="fa fa-file-text"></i> <span>Relatórios</span>
                    <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="{{ path('relatorio-pacientes') }}"><i class="fa fa-circle-o"></i> Retiradas (Paciente)</a></li>
                    <li><a href="{{ path('relatorio-validade') }}"><i class="fa fa-circle-o"></i> Validade (Lote)</a></li>
                    <li><a href="{{ path('relatorio-numeros-estoque') }}"><i class="fa fa-circle-o"></i> Números em Estoque</a></li>
                    <li><a href="{{ path('ultimos-lancamentos') }}"><i class="fa fa-circle-o"></i> Últimos Lançamentos</a></li>
                </ul>
            </li>

            <li class="treeview">
                <a href="{{ path('retirar-medicamentos') }}">
                    <i class="fa fa-cog"></i> <span>Retirar Medicamentos</span>
                </a>
            </li>

            <li class="treeview">
                <a href="{{ path('solicitar-medicamentos') }}">
                    <i class="fa fa-bullhorn"></i> <span>Solicitar Medicamento</span>
                </a>
            </li>

            {% if app.session.get('role') is defined and app.session.get('role') == 'ROLE_ADMIN' %}
            <li class="treeview">
                <a href="{{ path('usuarios') }}">
                    <i class="fa fa-users"></i> <span>Usuários</span>
                </a>
            </li>
            {% endif %}

        </ul>
    </section>
    <!-- /.sidebar -->
</aside>