{% extends 'system/includes/base.twig' %}

{% block main %}
    <div class="content-wrapper">
        <!-- Main content -->
        <section class="content">

            <div class="box box-success">

                <form role="form" action="{{ path('editar-pacientes', {'id' : paciente.0.cod}) }}" method="POST">

                <div class="box-header with-border">
                    <h3 class="box-title">Editar Paciente</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">

                        <!-- text input -->
                        <div class="form-group">
                            <label>Matrícula</label>
                            <input value="{{ paciente.0.matricula }}" name="matricula" type="text" class="form-control" placeholder="Digite o número de matrícula do paciente">
                        </div>

                        <div class="form-group">
                            <label>Nome</label>
                            <input value="{{ paciente.0.nome }}" name="nome" type="text" class="form-control" placeholder="Digite o nome">
                        </div>

                        <div class="form-group">
                            <label>Telefone</label>
                            <input value="{{ paciente.0.telefone }}" name="telefone" type="text" class="form-control" placeholder="Digite o telefone">
                        </div>

                        <div class="form-group">
                            <label>Data de Nascimento</label>
                            <input value="{{ paciente.0.dataNasc|date('Y-m-d') }}" name="data-nascimento" type="date" class="form-control" placeholder="">
                        </div>


                </div>
                <div class="box-footer">
                    <button type="button" class="btn btn-default">Cancelar</button>
                    <button type="submit" class="btn btn-success pull-right">Cadastrar</button>
                </div>
                <!-- /.box-body -->

                </form>
            </div>

        </section>
        <!-- /.content -->
    </div>
{% endblock %}