{% extends 'system/includes/base.twig' %}

{% block main %}

    {#{{ dump(vencimento) }}#}

    <div class="content-wrapper">
        <!-- Main content -->
        <section class="content">

            {% if msg is defined %}
                <div class="alert alert-success alert-dismissible">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                    <i class="icon fa fa-check"></i>{{ msg }}
                </div>
            {% endif %}

            <br>

            {#<div class="input-group input-group-sm">#}
                {#<input type="text" class="form-control" id="term" placeholder="Digite o nome ou a matrícula do paciente">#}
                {#<span class="input-group-btn">#}
                    {#<button id="pesquisar" type="button" class="btn btn-info btn-flat">Pesquisar</button>#}
                {#</span>#}
            {#</div>#}



            <br>

            <div class="row">
                <div class="col-xs-12">
                    <div class="box">
                        <div class="box-header">
                            <h3 class="box-title">Medicamentos próximos do vencimento</h3>
                        </div>
                        <div class="row loading" style="width: 98%; margin-left: 10px;">
                            <h3>Carregando...</h3>
                            <div class="progress progress-striped active page-progress-bar">
                                <div class="progress-bar" style="width: 100%;"></div>
                            </div>
                        </div>
                        <!-- /.box-header -->
                        <div id="content-table" class="box-body table-responsive no-padding">
                            <table class="table table-hover">
                                <tbody>
                                <tr>
                                    <th>Número NF</th>
                                    <th>Nome</th>
                                    <th>Data de Entrada</th>
                                    <th>Data de Validade</th>
                                    <th>Meses até o vencimento</th>

                                </tr>

                                {% for v in vencimento %}
                                    <tr>
                                        <td>{{ v.numero_nf }}</td>
                                        <td>{{ v.nome }}</td>
                                        <td>{{ v.data_entrada|date('d/m/Y') }}</td>
                                        <td>{{ v.validade_lote|date('d/m/Y') }}</td>
                                        <td>~{{ v.periodo_meses }}</td>
                                    </tr>
                                {% endfor %}

                                </tbody>
                            </table>
                        </div>
                        <!-- /.box-body -->
                    </div>


                    <div class="box">
                        <div class="box-header">
                            <h3 class="box-title">Medicamentos vencidos</h3>
                        </div>
                        <div class="row loading" style="width: 98%; margin-left: 10px;">
                            <h3>Carregando...</h3>
                            <div class="progress progress-striped active page-progress-bar">
                                <div class="progress-bar" style="width: 100%;"></div>
                            </div>
                        </div>
                        <!-- /.box-header -->
                        <div id="content-table" class="box-body table-responsive no-padding">
                            <table class="table table-hover">
                                <tbody>
                                <tr>
                                    <th>Número NF</th>
                                    <th>Nome</th>
                                    <th>Data de Entrada</th>
                                    <th>Data de Validade</th>
                                </tr>

                                {% for v in vencidos %}
                                    <tr>
                                        <td>{{ v.numero_nf }}</td>
                                        <td>{{ v.nome }}</td>
                                        <td>{{ v.data_entrada|date('d/m/Y') }}</td>
                                        <td>{{ v.validade_lote|date('d/m/Y') }}</td>
                                    </tr>
                                {% endfor %}

                                </tbody>
                            </table>
                        </div>
                        <!-- /.box-body -->
                    </div>
                    <!-- /.box -->
                </div>
            </div>

        </section>
        <!-- /.content -->
    </div>
{% endblock %}