{% extends 'system/includes/base.twig' %}

{% block main %}
    <div class="content-wrapper">
        <!-- Main content -->
        <section class="content">

            {% if msg is defined %}
                <div class="alert alert-success alert-dismissible">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                    <i class="icon fa fa-check"></i>{{ msg }}
                </div>
            {% endif %}

            <br>

            <div class="input-group input-group-sm">
                <input type="text" class="form-control" id="term" placeholder="Digite o nome ou a matrícula do paciente">
                <span class="input-group-btn">
                    <button id="pesquisar-relatorio" type="button" class="btn btn-info btn-flat">Pesquisar</button>
                </span>
            </div>



            <br>

            <div class="row">
                <div class="col-xs-12">
                    <div class="box">
                        <div class="box-header">
                            <h3 class="box-title">Pacientes</h3>
                        </div>
                        <div class="row loading" style="width: 98%; margin-left: 10px;">
                            <h3>Carregando...</h3>
                            <div class="progress progress-striped active page-progress-bar">
                                <div class="progress-bar" style="width: 100%;"></div>
                            </div>
                        </div>
                        <!-- /.box-header -->
                        <div id="content-table" class="box-body table-responsive no-padding">
                            <table class="table table-hover">
                                <tbody>
                                <tr>
                                    <th>Matrícula</th>
                                    <th>Nome</th>
                                    <th>Telefone</th>
                                    <th>Data de Nascimento</th>
                                    <th>Data de Cadastro</th>
                                    <th></th>
                                </tr>

                                {% for paciente in pacientes %}
                                    <tr>
                                        <td>{{ paciente.matricula }}</td>
                                        <td>{{ paciente.nome }}</td>
                                        <td>{{ paciente.telefone }}</td>
                                        <td>{{ paciente.dataNasc|date('d/m/Y') }}</td>
                                        <td>{{ paciente.dataCad|date('d/m/Y') }}</td>
                                        <td style="text-align: right;">
                                            <a href="{{ path('relatorio-pacientes-interna', {'id' : paciente.cod}) }}"><button type="button" style="padding: 1px 2px;" class="btn btn-success btn-flat">Retiradas</button></a>
                                            <!--<a href="{{ path('deletar-paciente', {'id' : paciente.cod}) }}"><button type="button" style="padding: 1px 2px;" class="btn btn-danger btn-flat">Excluir</button></a>-->
                                        </td>
                                    </tr>
                                {% endfor %}

                                </tbody>
                            </table>
                        </div>
                        <!-- /.box-body -->
                    </div>
                    <!-- /.box -->
                </div>
            </div>

        </section>
        <!-- /.content -->
    </div>
{% endblock %}