{% extends 'system/includes/base.twig' %}

{% block main %}
    <div class="content-wrapper">

        {% if msg is defined %}
            <div class="alert alert-danger alert-dismissible">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                <i class="icon fa fa-ban"></i>{{ msg }}
            </div>
        {% endif %}

        <!-- Main content -->
        <section class="content">

            <div class="box box-success">

                <form role="form" action="{{ path('cadastrar-usuarios-action') }}" method="POST">

                <div class="box-header with-border">
                    <h3 class="box-title">Cadastrar usuário</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">

                        <!-- text input -->
                    <div class="form-group">
                        <label>Nome</label>
                        <input required="required" name="nome" type="text" class="form-control" placeholder="Digite o nome">
                    </div>

                    <div class="form-group">
                        <label>Usuário</label>
                        <input required="required" name="usuario" type="text" class="form-control" placeholder="Digite nome de usuário">
                    </div>

                    <div class="form-group">
                        <label>Senha</label>
                        <input required="required" name="senha" type="password" class="form-control" placeholder="Digite a senha">
                    </div>

                    <div class="form-group">
                        <label>Confirmar senha</label>
                        <input required="required" name="resenha" type="password" class="form-control" placeholder="Confirme a senha">
                    </div>

                    <div class="form-group">
                        <label>Permissão</label>
                        <select required="required" name="permissao" class="form-control">
                            <option value="">Selecione...</option>
                            <option value="ROLE_USER">Operador</option>
                            <option value="ROLE_ADMIN">Administrador</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label>Ativo</label>
                        <select required="required" name="ativo" class="form-control">
                            <option value="">Selecione...</option>
                            <option value="1">Sim</option>
                            <option value="0">Não</option>
                        </select>
                    </div>


                </div>
                <div class="box-footer">
                    <button type="submit" class="btn btn-success pull-right">Cadastrar</button>
                </div>
                <!-- /.box-body -->

                </form>
            </div>

        </section>
        <!-- /.content -->
    </div>
{% endblock %}